name: Publish CLI to PyPI

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  pypi-publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/basileus
    permissions:
      id-token: write
    defaults:
      run:
        working-directory: cli
    steps:
      - uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "poetry"
          cache-dependency-path: cli/poetry.lock
      - name: Install dependencies
        run: poetry install
      - name: Build package
        run: poetry build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: cli/dist/
