name: CLI CI

on:
  push:
  pull_request:

jobs:
  agent-lint:
    name: CLI - Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: cli
    steps:
      - uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "poetry"
          cache-dependency-path: cli/poetry.lock
      - name: Install dependencies
        run: poetry install
      - name: Ruff check
        run: poetry run ruff check basileus
      - name: Ruff format check
        run: poetry run ruff format --check basileus
      - name: Mypy
        run: poetry run mypy basileus
